<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="img/kit/pro/apple-icon.png">
    <link rel="icon" href="img/kit/pro/favicon.png">
    <title>
        Jinhu Wang Blog 汪金虎
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/material-kit.css?v=2.0.2">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="assets-for-demo/demo.css" rel="stylesheet" />
    <link href="assets-for-demo/vertical-nav.css" rel="stylesheet" />
</head>

<body>
	<div class="index-page">
        <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand" href="./index.html">Jinhu Wang Blog | 汪金虎 个人主页 </a>
                    {{ partial('_partials/header/sub_menu.njk') }}
                </div>
                {{ partial('_partials/header/menu.njk') }}
            </div>
        </nav>
        
        <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('img/kit/pro/bg0.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="brand">
                            <h1>Jinhu Wang
                            </h1>
                            <h3 class="title">Blog | 个人主页 </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="main main-raised">

            <!--         cards -->
            <div id="cards" class="cd-section">
                <div class="section section-white">

                    <!--     *********    News CARDS     *********      -->
                    <div class="cards">
                        <div class="container">
                            <div class="title">
                                <h2 style="text-align: center">个人随笔 记录生活</h2>
                                <h2>News | <font size="5%">动&nbsp;态</font></h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-blog">
                                        <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img" src="img/kit/pro/examples/card-blog1.jpg">
                                                <div class="card-title">
                                                    This Summer Will be Awesome
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-category text-info">Fashion</h6>
                                            <p class="card-description">
                                                Don&apos;t be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens&#x2019; bed design but the back is...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card bg-info">
                                        <div class="card-body">
                                            <h5 class="card-category card-category-social">
                                                <i class="fa fa-twitter"></i> Twitter
                                            </h5>
                                            <h4 class="card-title">
                                                <a href="#pablo">&quot;You Don&apos;t Have to Sacrifice Joy to Build a Fabulous Business and Life&quot;</a>
                                            </h4>
                                        </div>
                                        <div class="card-footer">
                                            <div class="author">
                                                <a href="#pablo">
                                                    <img src="img/kit/pro/faces/avatar.jpg" alt="..." class="avatar img-raised">
                                                    <span>Tania Andrew</span>
                                                </a>
                                            </div>
                                            <div class="stats ml-auto">
                                                <i class="material-icons">favorite</i> 2.4K &#xB7;
                                                <i class="material-icons">share</i> 45
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card">
                                        <div class="card-body ">
                                            <h6 class="card-category text-danger">
                                                <i class="material-icons">trending_up</i> Trending
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
                                            </h4>
                                        </div>
                                        <div class="card-footer ">
                                            <div class="author">
                                                <a href="#pablo">
                                                    <img src="img/kit/pro/faces/christian.jpg" alt="..." class="avatar img-raised">
                                                    <span>Lord Alex</span>
                                                </a>
                                            </div>
                                            <div class="stats ml-auto">
                                                <i class="material-icons">favorite</i>342 &#xB7;
                                                <i class="material-icons" >chat_bubble</i> 45
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-blog">
                                        <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img" src="img/kit/pro/examples/card-blog2.jpg">
                                            </a>
                                        </div>
                                        <div class="card-body ">
                                            <h6 class="card-category text-success">Legal</h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">5 Common Legal Mistakes That Can Trip-Up Your Startup</a>
                                            </h4>
                                            <p class="card-description">
                                                Don&apos;t be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens&#x2019; bed design but the back is...
                                            </p>
                                        </div>
                                        <div class="card-footer ">
                                            <div class="author">
                                                <a href="#pablo">
                                                    <img src="img/kit/pro/faces/marc.jpg" alt="..." class="avatar img-raised">
                                                    <span>Mike John</span>
                                                </a>
                                            </div>
                                            <div class="stats ml-auto">
                                                <i class="material-icons">schedule</i> 5 min read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-6">
                                            <div class="card card-blog">
                                                <div class="card-header card-header-image">
                                                    <a href="#pablo">
                                                        <img class="img" src="img/kit/pro/examples/blog8.jpg">
                                                    </a>
                                                </div>
                                                <div class="card-body ">
                                                    <h6 class="card-category text-danger">
                                                        <i class="material-icons">trending_up</i> Trending
                                                    </h6>
                                                    <h4 class="card-title">
                                                        <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
                                                    </h4>
                                                </div>
                                                <div class="card-footer ">
                                                    <div class="author">
                                                        <a href="#pablo">
                                                            <img src="img/kit/pro/faces/marc.jpg" alt="..." class="avatar img-raised">
                                                            <span>Mike John</span>
                                                        </a>
                                                    </div>
                                                    <div class="stats ml-auto">
                                                        <i class="material-icons">schedule</i> 5 min read
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-6">
                                            <div class="card bg-success">
                                                <div class="card-body ">
                                                    <h5 class="card-category card-category-social">
                                                        <i class="fa fa-newspaper-o"></i> TechCrunch
                                                    </h5>
                                                    <h4 class="card-title">
                                                        <a href="#pablo">&quot;Focus on Your Employees&quot;</a>
                                                    </h4>
                                                    <p class="card-description">
                                                        Don&apos;t be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens&#x2019; bed design but the back is...
                                                    </p>
                                                    <div class="card-stats justify-content-center">
                                                        <a href="#pablo" class="btn btn-white btn-round">Read Article</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--     *********    END News CARDS      *********      -->

                    <!--     *********    project CARDS     *********      -->
                    <div class="cards">
                        <div class="container">
                            <div class="title">
                                <h2>Projects | <font size="5%">项目介绍</font></h2>
                            </div>
                            <div class="row">
                                <div class="col-md-6" >
                                    <div class="card card-background" style="background-image: url('img/kit/pro/examples/office1.jpg')" >
                                        <div class="card-body">
                                            <h6 class="card-category text-info">Productivy Apps</h6>
                                            <a href="#pablo">
                                                <h3 class="card-title">The Best Productivity Apps on Market</h3>
                                            </a>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                            </p>
                                            <a href="#pablo" class="btn btn-white btn-link">
                                                <i class="material-icons">subject</i> Read Article
                                            </a>
                                            <a href="#pablo" class="btn btn-white btn-link">
                                                <i class="material-icons">watch_later</i> Watch Later
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-background" style="background-image: url('img/kit/pro/examples/card-blog3.jpg')">
                                        <div class="card-body">
                                            <h6 class="card-category text-info">Materials</h6>
                                            <h3 class="card-title">The Sculpture Where Details Matter</h3>
                                            <p class="card-description">
                                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                            </p>
                                            <a href="#pablo" class="btn btn-danger btn-round">
                                                <i class="material-icons">subject</i> Read Article
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--     *********   project CARDS      *********      -->


                    <!---    *********    INTEREST SHADOWS   *******      -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="title">
                                    <h2 id="coloredShadows">Interests | <font size="5%">兴趣爱好</font></h2>
                                    <h4>Material Kit PRO is coming with the famous colored shadows. That means each image from the cards is getting an unique color shadow. You don&apos;t have to do anything to activate them, just enjoy the new look of your website.</h4>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-blog">
                                    <div class="card-header card-header-image">
                                        <a href="#pablo">
                                            <img src="img/kit/pro/examples/color1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-warning">Dynamic Shadows</h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">The image from this card is getting a yellow shadow</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-blog">
                                    <div class="card-header card-header-image">
                                        <a href="#pablo">
                                            <img src="img/kit/pro/examples/color2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-category text-rose">Dynamic Shadows</h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">The image from this card is getting a pink shadow</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-blog">
                                    <div class="card-header card-header-image">
                                        <a href="#pablo">
                                            <img src="img/kit/pro/examples/color3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="card-body ">
                                        <h6 class="card-category text-info">Dynamic Shadows</h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">The image from this card is getting a blue shadow</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---    *********   END  INTEREST SHADOWS   *******      -->

                    <!--     *********    END BLOG CARDS      *********      -->

                </div>
            </div>
            <!--         end cards         -->
            <!--     *********    IMAGE SUBSCRIBE LINE     *********      -->
            <div class="subscribe-line subscribe-line-image" style="background-image: url('../img/kit/pro/bg7.jpg;')">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class="text-center">
                                <h3 class="title">Subscribe to My Blog</h3>
                                <p class="description">
                                    Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                                </p>
                            </div>
                            <div class="card card-raised card-form-horizontal">
                                <div class="card-body ">
                                    <form method="" action="">
                                        <div class="row">
                                            <div class="col-lg-8 col-md-6 ">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="material-icons">mail</i>
                                                                </span>
                                                    </div>
                                                    <input type="email" value="" placeholder="Your Email..." class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 ">
                                                <button type="button" class="btn btn-primary btn-block">Subscribe</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--     *********   IMAGE SUBSCRIBE LINE     *********      -->

        </div>

        {{ partial('_partials/footer.njk') }}
    </div>
    <!--   Core JS Files   -->
    <script src="js/core/jquery.min.js"></script>
    <script src="js/core/popper.min.js"></script>
    <script src="js/bootstrap-material-design.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="js/plugins/nouislider.min.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="js/plugins/bootstrap-selectpicker.js"></script>
    <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="js/plugins/bootstrap-tagsinput.js"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="js/plugins/jasny-bootstrap.min.js"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="js/plugins/jquery.flexisel.js"></script>
    <!-- Plugins for presentation and navigation  -->
    <script src="assets-for-demo/js/modernizr.js"></script>
    <script src="assets-for-demo/js/vertical-nav.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="js/material-kit.js?v=2.0.2"></script>
    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
    <script src="assets-for-demo/js/material-kit-demo.js"></script>

</body>

</html>
