<div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="material-icons">apps</i>
                ALL
            </a>
            <div class="dropdown-menu dropdown-with-icons">
                <a href="article.html" class="dropdown-item">
                    <i class="material-icons">list</i>
                    Blogs
                </a>
                <a href="article.html" class="dropdown-item">
                    <i class="material-icons">assignment</i>
                    Projects
                </a>
                <a href="photography.html" class="dropdown-item">
                    <i class="material-icons">camera_alt</i>
                    Photography
                </a>
                <a href="moive.html" class="dropdown-item">
                    <i class="material-icons">movie_creation</i>
                    Movie
                </a>
                <a href="trip.html" class="dropdown-item">
                    <i class="material-icons">flight</i>
                    Trip
                </a>
                <a href="read.html" class="dropdown-item">
                    <i class="material-icons">bookmark</i>
                    Read
                </a>
                <a href="../sections.html#testimonials" class="dropdown-item">
                    <i class="material-icons">chat</i>
                    Board
                </a>
                <a href="profile.html" class="dropdown-item">
                    <i class="material-icons">person_outline</i>
                    Contacts
                </a>
            </div>
        </li>
    </ul>
</div>