<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/kit/pro/apple-icon.png">
    <link rel="icon" href="../assets/img/kit/pro/favicon.png">
    <title>
          Jinhu Wang Blog | 汪金虎 个人主页
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/material-kit.css?v=2.0.2">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/assets-for-demo/demo.css" rel="stylesheet" />
    <link href="../assets/assets-for-demo/vertical-nav.css" rel="stylesheet" />
</head>

<body class="blog-posts ">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="./index.html">Jinhu Wang Blog | 汪金虎 个人主页</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="material-icons">apps</i> ALL
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="./sections.html#headers" class="dropdown-item">
                                <i class="material-icons">list</i> Blogs
                            </a>
                            <a href="./sections.html#projects" class="dropdown-item">
                                <i class="material-icons">assignment</i> Projects
                            </a>
                            <a href="../examples/aboutme.html" class="dropdown-item">
                                <i class="material-icons">camera_alt</i> Photography
                            </a>
                            <a href="./sections.html#blogs" class="dropdown-item">
                                <i class="material-icons">movie_creation</i> Movie
                            </a>
                            <a href="./sections.html#teams" class="dropdown-item">
                                <i class="material-icons">flight</i> Trip
                            </a>

                            <a href="./sections.html#pricing" class="dropdown-item">
                                <i class="material-icons">bookmark</i> Read
                            </a>
                            <a href="./sections.html#testimonials" class="dropdown-item">
                                <i class="material-icons">chat</i> Board
                            </a>
                            <a href="./examples/profile-page.html" class="dropdown-item">
                                <i class="material-icons">person_outline</i> Contacts
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(&apos;../assets/img/kit/pro/bg10.jpg&apos;);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Project | 个人项目</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="projects-4" id="projects-4" style="padding-bottom:0px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <!--<h2 class="title">Some of Our Awesome Projects - 4</h2>-->
                            <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
                            <div class="section-space"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="card card-background" style="background-image:url('../assets/img/kit/pro/examples/card-project2.jpg')">
                                <a href="#pablo"></a>
                                <div class="card-body">
                                    <span class="badge badge-rose">Client: Apple</span>
                                    <a href="#pablo">
                                        <h3 class="card-title">Beautiful Project</h3>
                                    </a>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mr-auto">
                            <div class="info info-horizontal">
                                <div class="icon icon-info">
                                    <i class="material-icons">format_paint</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Graphic Design</h4>
                                    <p class="description">
                                        We&apos;ve created the design of the website using modern Technologies like Sketch. It was a very interesting collaboration.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="material-icons">code</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Fully Coded in HTML5</h4>
                                    <p class="description">
                                        We&apos;ve developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-danger">
                                    <i class="material-icons">dashboard</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">CMS Admin Dashboard</h4>
                                    <p class="description">
                                        There is also a Fully Customizable CMS Admin Dashboard for this product.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="info info-horizontal">
                                <div class="icon icon-rose">
                                    <i class="material-icons">timeline</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Marketing</h4>
                                    <p class="description">
                                        We&apos;ve created the marketing campaign of the website. It was a very interesting collaboration.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-success">
                                    <i class="material-icons">code</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Fully Coded in HTML5</h4>
                                    <p class="description">
                                        We&apos;ve developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-info">
                                    <i class="material-icons">group</i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Built Audience</h4>
                                    <p class="description">
                                        There is also a Fully Customizable CMS Admin Dashboard for this product.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mr-auto">
                            <div class="card card-background" style="background-image:url('../assets/img/kit/pro/examples/card-project5.jpg')">
                                <a href="#pablo"></a>
                                <div class="card-body">
                                    <span class="badge badge-rose">Client: DJ Khaled</span>
                                    <a href="#pablo">
                                        <h2 class="card-title">Another One</h2>
                                    </a>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projects-2" id="projects-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Some of Our Awesome Products - 2</h2>
                            <!--<h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>-->
                            <!--<div class="section-space"></div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-plain">
                                <a href="http://www.creative-tim.com/product/material-kit" target="_blank">
                                    <div class="card-header card-header-image">
                                        <img src="http://s3.amazonaws.com/creativetim_bucket/products/38/original/opt_mk_thumbnail.jpg?1458052306">
                                    </div>
                                </a>
                                <div class="card-body ">
                                    <a href="http://www.creative-tim.com/product/material-kit" target="_blank">
                                        <h4 class="card-title">Material Kit Free</h4>
                                    </a>
                                    <h6 class="card-category">Free UI Kit</h6>
                                    <p class="card-description">
                                        Material Kit is a Free Bootstrap UI Kit with a fresh, new design inspired by Google&apos;s material design. It&apos;s a great pleasure to introduce to you the material concepts in an easy to use and beautiful set of components.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-plain">
                                <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank">
                                    <div class="card-header card-header-image">
                                        <img src="https://s3.amazonaws.com/creativetim_bucket/products/34/original/opt_lbd_pro_thumbnail.jpg?1512732672">
                                    </div>
                                </a>
                                <div class="card-body ">
                                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank">
                                        <h4 class="card-title">Light Bootstrap Dashboard</h4>
                                    </a>
                                    <h6 class="card-category">Premium Template</h6>
                                    <p class="card-description">
                                        Light Bootstrap Dashboard PRO is a Bootstrap Admin Theme designed to look simple and beautiful. Forget about boring dashboards and grab yourself a copy to kickstart new project!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-plain">
                                <a href="http://www.creative-tim.com/product/get-shit-done-pro" target="_blank">
                                    <div class="card-header card-header-image">
                                        <img src="http://s3.amazonaws.com/creativetim_bucket/products/26/original/opt_gsdk_new_thumbnail.jpg">
                                    </div>
                                </a>
                                <div class="card-body ">
                                    <a href="http://www.creative-tim.com/product/get-shit-done-pro" target="_blank">
                                        <h4 class="card-title">Get Shit Done Kit PRO</h4>
                                    </a>
                                    <h6 class="card-category">Premium UI Kit</h6>
                                    <p class="card-description">
                                        Get Shit Done Kit Pro it&apos;s a Bootstrap Kit that comes with a huge number of customisable components. They are pixel perfect, light and easy to use and combine with other elements.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer ">
        <div class="container">
            <div class="copyright pull-right">
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/bootstrap-material-design.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="../assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../assets/js/plugins/nouislider.min.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="../assets/js/plugins/jquery.flexisel.js"></script>
    <!-- Plugins for presentation and navigation  -->
    <script src="../assets/assets-for-demo/js/modernizr.js"></script>
    <script src="../assets/assets-for-demo/js/vertical-nav.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="../assets/js/material-kit.js?v=2.0.2"></script>
    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
    <script src="../assets/assets-for-demo/js/material-kit-demo.js"></script>
</body>

</html>
